<% if @bookings.length == 0 %>
    <p>You don't have any borrowed items. Maybe you can fix those Levi's jeans that you love with a sewing machine...<%= link_to "Check it out!", items_path %></p>
<%else %>
    <p>You currently have <%= @bookings.length %> items booked,please don't forget to return them!</p>
    <%end%>

<% @bookings.each do |booking| %>
<ul>
<li><%= booking.booking_completed%>
<li><%= link_to "Booking Details", booking_path(booking) %>
<li>Item: <%= booking.item.name %></li>
</ul>
<%end%>
