<%= form_for @review do |f|%>
<%= f.label :description %>
<%= f.text_area :description %>
<%= f.hidden_field :booking_id, value: params[:booking_id]%>
<%= f.hidden_field :user_id, value: session[:user_id]%>
<%= f.submit "Post review"%>
<%end%>
<h1><%= @review.booking_id %></h1>