<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Grabber</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <meta name="viewport" content="width=device-width">
  </head>

  <body>
<%= render 'layouts/navigation' %>
<% if flash[:errors] %>
<div class="errors">
  <% flash[:errors].each do |error| %>
    <p><%= error %></p>
    <% end %>
</div>
  <% end %>
    <div class="container">
      <%= yield %>
    </div>
  </body>
  <%= render 'layouts/footer' %>
</html>
